<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Playlists</title>

    <!-- Scripts -->
    <script src="/scripts/button-functions.js" defer></script>
</head>
<body>
    
    <button type="button" id="add-another">Add Another Song</button>
    <button type="button" id="to-playlist">View Playlists</button>
</body>
</html>