<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>
<body>
    <h1>[Song Title] has been added to [Playlist]</h1>
    <button type="button" id="add-another">Add Another Song</button>
    <button type="button" id="to-playlist">View Playlists</button>
</body>
</html>